In [14]:
x = [] # empty list 
a = [1,2,3,4,5]
b = ['alex', 'shivam', 'amit']
c = ['alex', 12, 'alex', 15, 'alexis', 10]
d = [[1,2,3,4,], [1,2],[1,2,4,5,6]]

In [15]:
w = [1] * 10 #list duplication 
print(w)
w2 = [1,2,3] * 3
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
a = [1,2,3]
b = [4,5,6]
c =a+b # list concatanation
print(c)

d = [a,b]# nested list
print(d)

[1, 2, 3, 4, 5, 6]
[[1, 2, 3], [4, 5, 6]]

In [17]:
x = [1,2,3,4,5,6,7,8,9]
print(x[:3])
print(x[:-4])
print(x[3:-3])

print(x)
print(x[::-1]) #reverse element 
print(x[::2]) #all element with  even indexed
print(x[1::2]) #all element with  odd indexed

[1, 2, 3]
[1, 2, 3, 4, 5]
[4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [18]:
print(x[0])  #first element
print(x[-1])

1
9

In [19]:
#traversal 
for i in x:
    print(i, end='')

123456789

methods 
- add
   - append
   - extend
   - insert
- remove
   - remove
   - pop
   - clear
- helper
   - index
   - count
   - sort
   - reverse
   - copy

In [20]:
books = []
books.append("the final empire")
books.append("the well of scesion")
books.append("the  hero of ages")
books.append("godan")
print(books)

['the final empire', 'the well of scesion', 'the  hero of ages', 'godan']

In [21]:
books.insert(1, 'the way of king')
books.insert(4, 'war of a radiance')
print(books)

['the final empire', 'the way of king', 'the well of scesion', 'the  hero of ages', 'war of a radiance', 'godan']

In [22]:
crappy_books =[
    'twilight saga: new moon',
    'twilight saga: eclipse',
    'the wheel of time',
    'the great hunt'
]
print(crappy_books)

['twilight saga: new moon', 'twilight saga: eclipse', 'the wheel of time', 'the great hunt']

In [23]:

books.extend(crappy_books)
print(books)

['the final empire', 'the way of king', 'the well of scesion', 'the  hero of ages', 'war of a radiance', 'godan', 'twilight saga: new moon', 'twilight saga: eclipse', 'the wheel of time', 'the great hunt']

In [24]:
num = [1,2,3,4,5,6,7]

In [25]:
num_matrix = [num, num, num]
print(num_matrix)

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]

In [26]:
books

['the final empire',
 'the way of king',
 'the well of scesion',
 'the  hero of ages',
 'war of a radiance',
 'godan',
 'twilight saga: new moon',
 'twilight saga: eclipse',
 'the wheel of time',
 'the great hunt']

In [27]:
val_to_remove = "warbaker"
if val_to_remove in books:
    books.remove(val_to_remove)
    print(f"✅{val_to_remove} remove from remove")
else:
    print(f"❌ {val_to_remove} not found in list")

❌ warbaker not found in list