In [353]:
x = [] # empty list 
a = [1,2,3,4,5]
b = ['alex', 'shivam', 'amit']
c = ['alex', 12, 'alex', 15, 'alexis', 10]
d = [[1,2,3,4,], [1,2],[1,2,4,5,6]]

In [354]:
w = [1] * 10 #list duplication 
print(w)
w2 = [1,2,3] * 3
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [355]:
a = [1,2,3]
b = [4,5,6]
c =a+b # list concatanation
print(c)

d = [a,b]# nested list
print(d)

[1, 2, 3, 4, 5, 6]
[[1, 2, 3], [4, 5, 6]]

In [356]:
x = [1,2,3,4,5,6,7,8,9]
print(x[:3])
print(x[:-4])
print(x[3:-3])

print(x)
print(x[::-1]) #reverse element 
print(x[::2]) #all element with  even indexed
print(x[1::2]) #all element with  odd indexed

[1, 2, 3]
[1, 2, 3, 4, 5]
[4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [357]:
print(x[0])  #first element
print(x[-1])

1
9

In [358]:
#traversal 
for i in x:
    print(i, end='')

123456789

methods 
- add
   - append
   - extend
   - insert
- remove
   - remove
   - pop
   - clear
- helper
   - index
   - count
   - sort
   - reverse
   - copy

In [359]:
books = []
books.append("the final empire")
books.append("the well of scesion")
books.append("the  hero of ages")
books.append("godan")
print(books)

['the final empire', 'the well of scesion', 'the  hero of ages', 'godan']

In [360]:
books.insert(1, 'the way of king')
books.insert(4, 'war of a radiance')
print(books)

['the final empire', 'the way of king', 'the well of scesion', 'the  hero of ages', 'war of a radiance', 'godan']

In [361]:
crappy_books =[
    'twilight saga: new moon',
    'twilight saga: eclipse',
    'the wheel of time',
    'the great hunt'
]
print(crappy_books)

['twilight saga: new moon', 'twilight saga: eclipse', 'the wheel of time', 'the great hunt']

In [362]:

books.extend(crappy_books)
print(books)

['the final empire', 'the way of king', 'the well of scesion', 'the  hero of ages', 'war of a radiance', 'godan', 'twilight saga: new moon', 'twilight saga: eclipse', 'the wheel of time', 'the great hunt']

In [363]:
num = [1,2,3,4,5,6,7]

In [364]:
num_matrix = [num, num, num]
print(num_matrix)

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]

In [365]:
books

['the final empire',
 'the way of king',
 'the well of scesion',
 'the  hero of ages',
 'war of a radiance',
 'godan',
 'twilight saga: new moon',
 'twilight saga: eclipse',
 'the wheel of time',
 'the great hunt']

In [366]:
val_to_remove = "warbaker"
if val_to_remove in books:
    books.remove(val_to_remove)
    print(f"✅{val_to_remove} remove from remove")
else:
    print(f"❌ {val_to_remove} not found in list")

❌ warbaker not found in list

In [367]:
amjad = ['behaya', 'besharam']

In [368]:
x = ['a1', 'b1', 'b1', 'a1']
print(x.count('a1'))

2

In [369]:
x.sort()
print(x)

x.sort(reverse=True)
print(x)

['a1', 'a1', 'b1', 'b1']
['b1', 'b1', 'a1', 'a1']

In [370]:
words = ['app', 'apple', 'avocado', 'aeroplane']
words.sort()
print(words)
words.sort(reverse=True)
print(words)
words.sort(key=len)
print(words)
words.sort(key=len, reverse =True)
print(words)

['aeroplane', 'app', 'apple', 'avocado']
['avocado', 'apple', 'app', 'aeroplane']
['app', 'apple', 'avocado', 'aeroplane']
['aeroplane', 'avocado', 'apple', 'app']

In [371]:
words.index('avocado')#return index of first occurence of element
words.index('app')

3

In [372]:
words_copy1 = words #copy by reference
word_copy2 = words.copy()

In [373]:
words_copy1 is words

True

In [374]:
x = [1,2,3]
y =x.copy()
x.append(4)
y.append(4)
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 4]

generating a list of number from existing list

In [375]:
x = [1,2,3,4,5]
x2 =[]
for i in x:
    m = 1**2
    x2.append(m)
print(x2)

[1, 1, 1, 1, 1]

list comprehension
syntax'''new_list = [operation for item in list]'''list comprehension with condition'''new_list = [operation from item in list if]'''

In [376]:
a = [1,2,3,4,5,6,7,8,9]
a_odd = [i for i in a if i%2 == 0]
print(a_odd)

[2, 4, 6, 8]